body{

    background-color:  #f5d9df;
    font-family: "Nunito", sans-serif;
}

.blurb h2{
    color: #ea1c2c;
    font-weight: 100;
}
.blurb p {

    color: #f498b8;
    font-weight:100 ;
    font-size:1.125rem;
    line-height: 2;

}
.content {
    margin-top: 100px;
}
#mainnavbar{
    font-size: 1.5rem;
    font-weight: 100;
    font-size: 2.5rem;
}
#mainnavbar .nav-link {
    color: white;
}
#mainnavbar .nav-link:hover {
    color: #ea1c2c;
}
#mainnavbar .navbar-brand  {

    color: #ea1c2c ;
    font-size: 1.5rem;
    font-weight: 100;
}

#headinggroup span {

    color: #ea1c2c ;

}

#headinggroup h1 {

    font-weight: 100;
    font-size: 4rem;

}

navbar.scrolled {
background: rgb(222,192.222);

}
@media (max-width:1200px) {
    #headinggroup h1 {

        font-weight: 100;
        font-size: 3rem;
    
    }
}

